################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApiRest/.vs
/WebApiRest/WebApiRest/bin/Debug/net8.0
/WebApiRest/WebApiRest/obj
